.hidden {
    display: none;
}

.pageCover {
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, .25);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.modali {
    position: fixed;
    z-index: 100;
   
}

.modalTitle {
    margin: 0;
    background-color: #00a;
    color: #ff0;
    padding: 5px;
    font-weight: bold;
    font-size: 1.1em;
}

#close {
 
    
    align-items: center;
    justify-content: center;
    
    
    
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    width: 3rem;
    height: 3rem;
    border-radius: 0.25rem;
    position: fixed;
    bottom: 17.25%;
    right: 30px;
    z-index: 20;
    margin-top: 2rem;
    background: rgba(var(--clr-main-rgb), 1);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    /* position: relative; */
    color: aliceblue;
    cursor: pointer;
}

